@use 'utils/breakpoints' as *;
@use 'utils/colors' as *;
@use 'utils/typography' as *;
@use 'structures/buttons' as *;
@use 'structures/forms' as *;

.node-form {
  padding: 20px 0 0;
  max-width: 1280px;
  margin: 0 auto;

  a, button {
    color: $blue-dark;
  }

  label {
    @include font--primary;
    display: block;
    padding: 0 0 8px;
    text-transform: uppercase;
    font-size: 24px;
  }

  .form-item {
    padding: 0 0 30px;
  }

  .form-text,
  .form-textarea {
    @include form-input();
  }

  .select__wrapper {
    display: inline-block;
  }

  .form-actions {
    padding: 0 0 50px;
  }

  .vertical-tabs {

    a {
      color: $textColor;
    }

    &__pane {
      padding: 20px;

      a {
        color: $blue-dark;
      }
    }
  }

  #edit-submit {
    @include cta--primary();
  }

  #edit-preview {
    @include cta--secondary();

    & {
      margin: 0 20px;
    }
  }

  #edit-delete {
    @include cta--secondary($blue-medium, $white);
  }
}
