@use 'utils' as *;
@use '../structures/field-links' as *;
@use '../structures/buttons' as *;

.block--tabs {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 36px 24px 48px;

    @include breakpoint(lg) {
      padding: 64px 48px 80px;
    }
  }

  .field-item__field-header {
    padding: 0 0 24px;
    max-width: $md-width;

    @include breakpoint(lg) {
      padding: 0 0 48px;
    }

    @include headings {
      padding: 0 0 24px;
    }
  }

  .field-item__field-tabs {
    width: 100%;
    padding-top: 48px;
  }

  .select__wrapper {
    margin: 0 0 24px;

    select {
      @include cta--primary;
    }

    &:after {
      background: $white;
    }
  }

  .tabs {

    @media (prefers-reduced-motion: no-preference) {
      animation: reveal linear both;
      animation-timeline: view(block);
      animation-range: cover 0% cover 25%;
    }

    @include breakpoint(lg) {
      border-radius: 12px;
      background: $blue-lighter;
      box-shadow: $shadow-light;
      overflow: hidden;
    }
  }

  .tab {

    &__titles {
      display: flex;
      position: relative;
      z-index: 100;
      list-style: none;
    }

    &__title {
      cursor: pointer;
      position: relative;
      width: 100%;
      text-align: center;
      padding: 24px;
      background: $blue-lighter;

      &:hover,
      &:focus {
        border-bottom: 5px solid $orange;
        outline: 0;
      }

      &.active {
        cursor: default;
        position: relative;
        z-index: 60;
        background: $white;
        border-bottom: 5px solid $blue-dark;
        border-radius: 12px 12px 0 0;
        box-shadow: 0 -6px 12px 12px rgba($black,.025);
      }
    }

    &__content {
      display: none;
      width: 100%;
      padding: 24px;
      background: $white;

      @include mobileOnly {
        border-radius: 12px;
        box-shadow: $shadow-light;
        overflow: hidden;
      }

      @include breakpoint(lg) {
        padding: 48px;
      }

      &.active {
        display: block;

        > * {
          animation: fadeIn .5s ease-out both;
        }
      }
    }
  }

}
