@mixin cta--primary($primary: $blue-medium, $secondary: $blue-dark) {
  @include font--body;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  background: $primary;
  color: $white;
  min-width: 110px;
  padding: 16px 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 200;
  border: 0;
  border-radius: 24px;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  box-shadow: 0 0 0 6px rgba($gray-medium, 0);
  transition: all .25s ease-out;

  &:hover,
  &:focus {
    background: $secondary;
    transition: all .125s ease-out;
  }

  &:focus {
    box-shadow: 0 0 0 6px rgba($gray-medium, .35);
    transition: all .125s ease-out;
  }

  &:disabled {
    cursor: not-allowed;
    background: $gray-medium;
  }
}

.cta--primary {
  @include cta--primary();
}

@mixin cta--secondary($primary: $blue-light, $secondary: $blue-medium) {
  @include font--body;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  background: $white;
  color: $secondary;
  min-width: 110px;
  padding: 14px 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 200;
  border: 2px solid $secondary;
  border-radius: 24px;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  box-shadow: 0 0 0 6px rgba($gray-medium, 0);
  transition: all .25s ease-out;

  &:hover,
  &:focus {
    color: $white;
    background: $secondary;
    border-color: $secondary;
    transition: all .125s ease-out;
  }

  &:focus {
    box-shadow: 0 0 0 6px rgba($gray-medium, .35);
    transition: all .125s ease-out;
  }

  &:disabled {
    cursor: not-allowed;
    background: $gray-medium;
  }
}

.cta--secondary {
  @include cta--secondary();
}

@mixin cta--tertiary($primary: $white, $secondary: $blue-dark) {
  @include font--body;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  background: transparent;
  color: $primary;
  min-width: 110px;
  padding: 14px 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 200;
  border: 2px solid $primary;
  border-radius: 24px;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  box-shadow: 0 0 0 6px rgba($gray-medium, 0);
  transition: all .25s ease-out;

  &:hover,
  &:focus {
    color: $secondary;
    background: $primary;
    border-color: $primary;
    transition: all .125s ease-out;
  }

  &:focus {
    box-shadow: 0 0 0 6px rgba($gray-medium, .35);
    transition: all .125s ease-out;
  }

  &:disabled {
    cursor: not-allowed;
    background: $gray-medium;
  }
}

.cta--tertiary {
  @include cta--tertiary();
}

// ADA Skip to Content link at the top of every page
.skip-to-content {
  @include cta--primary();

  & {
    position: fixed;
    z-index: 9999;
    top: -100%;
    left: 6px;
    width: calc(100% - 12px);
    overflow: hidden;

    &:focus {
      top: 6px;
    }
  }
}
