@use './utils' as *;

.ck-content {
  box-sizing: border-box;

  // Make background off-white to handle white and lighter text
  & {
    background: #EBEBEB !important;
  }

  // Add common heading spacing used on blocks/components
  @include headings {
    padding: 0 0 24px;
  }
}
