{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<div class="footer__content container">

  <div class="footer__menus">
    {{ content }}
  </div>

  <div class="footer__links">
    <a href="/" class="footer__logo" aria-label="Brand logo">Home</a>

    <div class="footer__social">
      <a id="instagram" href="https://www.instagram.com" target="_blank">
        <svg aria-label="Instagram" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256"><path fill="#FFF" d="M160 128a32 32 0 1 1-32-32 32.037 32.037 0 0 1 32 32Zm68-44v88a56.064 56.064 0 0 1-56 56H84a56.064 56.064 0 0 1-56-56V84a56.064 56.064 0 0 1 56-56h88a56.064 56.064 0 0 1 56 56Zm-52 44a48 48 0 1 0-48 48 48.054 48.054 0 0 0 48-48Zm16-52a12 12 0 1 0-12 12 12 12 0 0 0 12-12Z"/></svg>
      </a>
      <a id="linkedin" href="https://www.linkedin.com/" target="_blank">
        <svg aria-label="LinkedIn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 50 50"><path fill="FFF" d="M41 4H9C6.24 4 4 6.24 4 9v32c0 2.76 2.24 5 5 5h32c2.76 0 5-2.24 5-5V9c0-2.76-2.24-5-5-5zM17 20v19h-6V20h6zm-6-5.53c0-1.4 1.2-2.47 3-2.47s2.93 1.07 3 2.47c0 1.4-1.12 2.53-3 2.53-1.8 0-3-1.13-3-2.53zM39 39h-6V29c0-2-1-4-3.5-4.04h-.08C27 24.96 26 27.02 26 29v10h-6V20h6v2.56S27.93 20 31.81 20c3.97 0 7.19 2.73 7.19 8.26V39z"/></svg>
      </a>
      <a id="facebook" href="https://www.facebook.com" target="_blank">
        <svg aria-label="Facebook" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#FFF" d="M23 12.068C23 5.961 18.07 1 12 1S1 5.96 1 12.068C1 17.596 5.028 22.171 10.285 23v-7.742h-2.81v-3.201h2.81v-2.44c0-2.77 1.636-4.315 4.14-4.315 1.208 0 2.449.239 2.449.239v2.702h-1.377c-1.365 0-1.805.862-1.805 1.736v2.078h3.058l-.485 3.201h-2.561V23C18.972 22.171 23 17.596 23 12.068Z"/></svg>
      </a>
      <a id="twitter" href="https://www.twitter.com" target="_blank">
        <svg aria-label="Twitter" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1200 1227"><path fill="#FFF" d="m697.7 532.8 382.4-444.6h-90.6l-332.1 386-265.2-386H86.3l401.1 583.7-401.1 466.2H177l350.7-407.6 280.1 407.6h305.9l-416-605.3zM573.6 677.1 533 619 209.6 156.5h139.2l260.9 373.3 40.6 58.1L989.6 1073H850.4L573.6 677.1z"/></svg>
      </a>
      <a id="youtube" href="https://www.youtube.com" target="_blank">
        <svg aria-label="YouTube" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#FFF" d="M22.54 6.354a2.62 2.62 0 0 0-.703-1.19 2.78 2.78 0 0 0-1.226-.696c-1.721-.463-8.617-.463-8.617-.463a68.715 68.715 0 0 0-8.607.44 2.88 2.88 0 0 0-1.226.712c-.34.334-.585.745-.713 1.196A27.844 27.844 0 0 0 1 11.5a27.792 27.792 0 0 0 .447 5.147c.125.45.37.859.71 1.19.34.33.764.569 1.23.695 1.743.463 8.606.463 8.606.463a68.865 68.865 0 0 0 8.617-.44 2.78 2.78 0 0 0 1.226-.695c.34-.33.58-.742.701-1.19.317-1.697.47-3.421.46-5.149a25.437 25.437 0 0 0-.459-5.168zM9.8 14.707V8.293l5.74 3.207-5.74 3.208z"/></svg>
      </a>
    </div>

    <div class="footer__stores">
      <div class="store-ctas">
        <div id="googleplay" class="store-cta"><a href="https://play.google.com/" target="_blank"><img alt="Google play store" width="125" height="37" src="/{{ active_theme_path() ~ '/images/stores/play-store.svg' }}"/></a></div>
        <div id="appstore" class="store-cta"><a href="https://apps.apple.com/" target="_blank"><img alt="Apple app store" width="111" height="37" src="/{{ active_theme_path() ~ '/images/stores/app-store.svg' }}"/></a></div>
      </div>
    </div>
  </div>
</div>

<div class="footer__legal">
  <p>&copy; {{ 'now' | date('Y') }} Eric Shell's White Label Application. All rights reserved.</p>
</div>
