{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<div class="header__menu">
  <div class="header__main">
    <button class="menu__toggle menu__toggle--open" aria-label="Open mobile main menu"></button>
    <a href="/" class="header__logo" aria-label="Brand logo linking to the home page">
      Home
    </a>
    {{ content }}
  </div>
</div>
