@use 'breakpoints' as *;
@use 'colors' as *;
@use 'typography' as *;

*, *::after, *::before {
  box-sizing: inherit;
}

* {
  font: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: $white;
  overflow-x: hidden;
  overflow-y: auto;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main, form legend {
  display: block;
}

ol, ul, menu {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

button, input, textarea, select {
  margin: 0;
}

button, .btn, .form-control, .link, .reset { // reset style of buttons + form controls
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  line-height: 1;
  appearance: none;
  cursor: pointer;
}

select.form-control::-ms-expand {
  display: none; // hide Select default icon on IE
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

input::-ms-clear {
  display: none; // hide X icon in IE and Edge
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  height: auto;
  max-width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Removing content padding for navigation when logged in as admin (menu is relative)
.user-logged-in .layout-container {
  padding-top: 0;

  @include breakpoint(lg) {
    min-height: calc(100vh - 471px);
  }
}

// Creating a better layout display when content doesn't fill above the fold
.layout-container {
  min-height: 350px;

  @include breakpoint(lg) {
    min-height: calc(100vh - 392px);
  }
}

// Hiding the blazy loading icon
.media--loading:before,
.is-b-loading:before {
  // width: 32px;
  // height: 32px;
  // background: url(../../favicon/favicon-32x32.png);
  // background-size: contain;
  display: none !important;
}

// Background color of unpublished nodes
.node.node--unpublished {
  background: $white;
}

// Global content container
.container {
  width: 100%;
  max-width: $xl-width;
  margin: 0 auto;
}

// D10 element disrupts UI on bottom of page
#drupal-live-announce {
  height:0;
}
