@use 'breakpoints' as *;
@use 'colors' as *;

@mixin font--primary($weight: 400) {
  font-weight: $weight;
  font-family: 'DM Serif Display', serif;
  line-height: 1;
}

@mixin font--secondary($weight: 500) {
  font-weight: $weight;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1;
}

@mixin font--body($weight: 400) {
  font-weight: $weight;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

@mixin font--informal {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  transform: rotate(-3deg);
  display: inline-block;
  line-height: 1;
  margin: 0 0 .5em -.25em;
}

@mixin headings {
  h1, h2, h3,
  h4, h5, h6 {
    & {
      @content;
    }
  }
}

html, body {
  @include font--body;
  color: $textColor;
  -webkit-font-smoothing: antialiased;
}

@mixin h1 {
  @include font--primary;
  font-size: 48px;
  color: $blue-dark;

  @include breakpoint(lg) {
    font-size: 72px;
  }
}

h1, .h1.h1 {
  @include h1;
}

@mixin h2 {
  @include font--primary;
  font-size: 36px;
  color: $blue-dark;

  @include breakpoint(lg) {
    font-size: 50px;
  }
}

h2, .h2.h2 {
  @include h2;
}

@mixin h3 {
  @include font--secondary;
  font-size: 28px;

  @include breakpoint(lg) {
    font-size: 38px;
  }
}

h3, .h3.h3 {
  @include h3;
}

@mixin h4 {
  @include font--secondary;
  font-size: 23px;

  @include breakpoint(lg) {
    font-size: 28px;
  }
}

h4, .h4.h4 {
  @include h4;
}

@mixin h5 {
  @include font--secondary;
  font-size: 20px;

  @include breakpoint(lg) {
    font-size: 21px;
  }
}

h5, .h5.h5 {
 @include h5;
}

@mixin h6 {
  @include font--secondary;
  font-size: 16px;
}

h6, .h6.h6 {
  @include h6;
}

p, .p1.p1 {
  font-size: 16px;

  + p {
    padding: 16px 0 0;
  }

  b, strong {
    @include font--body;
  }
}

.p2.p2 {
  font-size: 14px;
}

.p3.p3 {
  font-size: 10px;
}

.e1.e1 {
  @include font--informal();
  font-size: 32px;
}

.e2.e2 {
  @include font--informal();
  font-size: 24px;
}

.e3.e3 {
  @include font--informal();
  font-size: 16px;
}

a {
  color: $blue-dark;
}

sup {
  font-size: .5em;
}

q, blockquote {
  @include font--body;
  font-size: 18px;
  color: $textColor;
  padding: 16px 0 32px;

  @include breakpoint(lg) {
    font-size: 32px;
  }
}

b, strong {
  font-weight: bold;
}

pre {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  padding: 8px;
  color: $white;
  background: $black;
  border: 2px solid $gray-medium;
  margin: 12px 0 32px;
  border-radius: 10px;
  white-space: pre-line;
}

hr {
  margin: 24px 0;
  background: $gray-light;
  height: 2px;
  width: 100%;
}

table {

  tr {
    padding: 8px 0;
  }

  th, td {
    padding: 8px;
    border-bottom: 2px solid $blue-medium;
  }
}

.translucent {
  opacity: .5;
}
